body {
    --bg-color:#12151b;
    --sidebar-bg-color: #181a20;
    --text-color: rgba(255, 255, 255, 0.8);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    --theme-color: #84baff;
}

.sidebar {
    background-color:var(--sidebar-bg-color);
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    color: var(--text-color);
}

.sidebar-toggle {
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
}

body.close .sidebar-toggle {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.github-corner svg {
    color: var(--bg-color);;
}

.sidebar ul li a {
    color: var(--text-color);
}

.anchor span {
    color: rgba(255, 255, 255, 0.85);
}

.markdown-section code {
    border-radius: 2px;
    background-color: rgb(0, 0, 0, 0.4);
    color: #caaa85;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: pre-wrap;
}

.markdown-section pre {
    color: var(--text-color);
    background-color: rgb(0, 0, 0, 0.4);
}

.markdown-section pre > code {
    color: var(--text-color);
    background-color: rgb(0, 0, 0, 0.0);
}

.markdown-section tr {
    border-top: 1px solid #ffffff;
}

.markdown-section td, .markdown-section th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 6px 13px;
}

.markdown-section p.tip, .markdown-section tr:nth-child(2n) {
    background-color: #00000033;
}

.markdown-section strong {
    color: #ffffffb0;
    font-weight: 600;
}